<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Adventure</title>
  </head>
  <body>
    <div class="background">
      <!-- <img class="title" src="../images/756075996_preview_logo.png" alt="" /> -->
      <div class="menu">
        <h1 class="title">
          Adv<span class="glick">e</span><span class="glickc">n</span>tu<span
            class="glicks"
            >r</span
          >e
        </h1>
        <ul>
          <li><a href="start.html">Start</a></li>
          <li><a href="#!">Achievements</a></li>
          <li><a href="setting.html">Setting</a></li>
          <li><a class="exit">Exit</a></li>
        </ul>
      </div>
    </div>
    <script>
      const exit = document.querySelector(".exit");
      exit.addEventListener("click", (e) => {
        window.close(100);
      });
    </script>
  </body>
</html>
