<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/start.css" />
    <title>Adventure</title>
  </head>

  <body>
    <div class="health" style="display: flex; width: 100%; margin-left: 40px">
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <img class="heart" src="../images/heart.png" alt="" />
      <div class="coin">
        <p class="bash">0$</p>
        <img
          style="width: 30px; margin-left: auto; margin-right: 80px"
          src="../images/coin.png"
          alt=""
        />
      </div>
    </div>
    <div class="person" style="display: flex">
      <img class="person1" src="../images/person-1.gif" alt="" />
      <img class="enemy1" src="../images/enemy.gif" alt="" />
      <img class="enemy" src="../images/enemy-chidory.gif" alt="" />
      <img class="cloud" src="../images/cloud.png" alt="" />
    </div>
    <div class="block">
      <img width="200px" src="../images/block.png" alt="" />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
      <img
        style="margin-left: -4px"
        width="200px"
        src="../images/block.png"
        alt=""
      />
    </div>
    <a class="prew" href="2lvl.html">N E X T</a>

    <script src="../js/script.js"></script>
  </body>
</html>
